.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;

    &__rect {
        animation-duration: 2s;
        animation-play-state: running;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
}

.rect-1 {
    stroke: orange;
    animation-name: loader-rect-1;
}

.rect-2 {
    stroke: green;
    animation-name: loader-rect-2;
}

.rect-3 {
    stroke: blue;
    animation-name: loader-rect-3;
}
