@keyframes loader-rect-1 {
    0% {
        translate: 0% 0%;
    }

    8% {
        translate: 0% 12%;
    }

    17% {
        translate: 0% 12%;
    }

    25% {
        translate: 0% 12%;
    }

    33% {
        translate: -12% 12%;
    }

    41% {
        translate: -12% 12%;
    }

    50% {
        translate: -12% 12%;
    }

    58% {
        translate: -12% 0%;
    }

    67% {
        translate: -12% 0%;
    }

    75% {
        translate: -12% 0%;
    }

    83% {
        translate: 0% 0%;
    }

    91% {
        translate: 0% 0%;
    }

    100% {
        translate: 0% 0%;
    }
}

@keyframes loader-rect-2 {
    0% {
        translate: 0% 0%;
    }

    8% {
        translate: 0% 0%;
    }

    17% {
        translate: 12% 0%;
    }

    25% {
        translate: 12% 0%;
    }

    33% {
        translate: 12% 0%;
    }

    41% {
        translate: 12% 12%;
    }

    50% {
        translate: 12% 12%;
    }

    58% {
        translate: 12% 12%;
    }

    67% {
        translate: 0% 12%;
    }

    75% {
        translate: 0% 12%;
    }

    83% {
        translate: 0% 12%;
    }

    91% {
        translate: 0% 0%;
    }

    100% {
        translate: 0% 0%;
    }
}

@keyframes loader-rect-3 {
    0% {
        translate: 0% 0%;
    }

    8% {
        translate: 0% 0%;
    }

    17% {
        translate: 0% 0%;
    }

    25% {
        translate: 0% -12%;
    }

    33% {
        translate: 0% -12%;
    }

    41% {
        translate: 0% -12%;
    }

    50% {
        translate: 12% -12%;
    }

    58% {
        translate: 12% -12%;
    }

    67% {
        translate: 12% -12%;
    }

    75% {
        translate: 12% 0%;
    }

    83% {
        translate: 12% 0%;
    }

    91% {
        translate: 12% 0%;
    }

    100% {
        translate: 0% 0%;
    }
}
