@keyframes blim-blim {
    0% {
        background-color: red;
        opacity: 0.5;
    }

    25% {
        background-color: red;
        opacity: 0.1;
    }

    50% {
        background-color: red;
        opacity: 0.5;
    }

    75% {
        background-color: red;
        opacity: 0.1;
    }

    100% {
        background-color: red;
        opacity: 0.5;
    }
}
