@font-face {
    font-family: BPdots-Bold;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/BPdots-Bold.woff2') format('woff2'), 
         url('../fonts/BPdots-Bold.woff') format('woff'),
         url('../fonts/BPdots-Bold.ttf') format('truetype');
}

@font-face {
    font-family: BPdots-Light;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/BPdots-Light.woff2') format('woff2'), 
         url('../fonts/BPdots-Light.woff') format('woff'),
         url('../fonts/BPdots-Light.ttf') format('truetype');
}

@font-face {
    font-family: BPdots;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/BPdots.woff2') format('woff2'), 
         url('../fonts/BPdots.woff') format('woff'),
         url('../fonts/BPdots.ttf') format('truetype');
}

@font-face {
    font-family: 'Digital Dismay';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Digital Dismay.woff2') format('woff2'), 
         url('../fonts/Digital Dismay.woff') format('woff'),
         url('../fonts/Digital Dismay.ttf') format('truetype');
}

@font-face {
    font-family: icomoon;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/icomoon.woff2') format('woff2'), 
         url('../fonts/icomoon.woff') format('woff'),
         url('../fonts/icomoon.ttf') format('truetype');
}



