$container: 1220;

/* colors */
$main-bg: #262626;
$main-color: #fff;
$selector-color: #fff;
$selector-bg: #300000;

/* font */
$main-font-family: tahoma, geneva, verdana, sans-serif;
$main-font-size: 18px;
$main-font-style: normal;
$main-font-weight: 400;
$main-line-height: 1;

/* other */
$scroll-up-hover: lightblue;
$link-hover-color: #700000
