* {
    margin: 0;
}

body {
    background: linear-gradient(10deg, #666666, #999999);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    background: #333333;
    padding: 0.5vh;
    display: grid;
    grid-template-columns: repeat(10, auto);
    gap: 0.5vh;
}

.grid > div {
    height: min(4vh, 7vw);
    width: min(4vh, 7vw);
    background-color: rgba(182, 166, 166, 0.2);
    border-radius: 0.3vh;
}

.grid .O {
    background-color: #F4F440;
}

.grid .J {
    background-color: #0000C8;
}

.grid .L {
    background-color: #E29F1A;
}

.grid .I {
    background-color: #20f2f2;
}

.grid .S {
    background-color: #7cf801;
}

.grid .Z {
    background-color: #D71414FF;
}

.grid .T {
    background-color: #a22bd7;
}